<div class="centerDiv">
    <div class="foodNutApp">
        <div class="mainImg">
            <img src="https://www.heartfoundation.org.au/getmedia/606a0e4f-d923-43b1-9bfb-367239802de3/Heart_Foundation_dietary_advice_WEBSITE.png"
                alt="" srcset="">
        </div>
        <div class="userInput">
            <form action="">
                <input type="text" name="food" id="food" placeholder="Search Food ...">
                <button id="submit" type="submit" class="btn"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="inputImage">
            <img src={{uri}} alt="Image isn't available for this perticular food..." srcset="">
        </div>
        <div class="foodDetails">
            <h4>NURTITIONS :-</h4>
            <div class="Enerc_Kcal">
                <p style="font-size: 12px;" class="tEnerc_Kcal">Enerc_Kcal</p>
                <p class="nEnerc_Kcal">{{Enerc_Kcal}}</p>
            </div>
            <div class="PROCNT">
                <p style="font-size: 12px;" class="tPROCNT">PROCNT</p>
                <p class="nPROCNT">{{PROCNT}}</p>
            </div>
            <div class="FAT">
                <p style="font-size: 12px;" class="tFAT">FAT</p>
                <p class="nFAT">{{FAT}}</p>
            </div>
            <div class="FIBTG">
                <p style="font-size: 12px;" class="tFIBTG">FIBTG</p>
                <p class="nFIBTG">{{FIBTG}}</p>
            </div>
        </div>
    </div>
</div>